/* Google Fonts */



/* Global Styles */


/* Pushes the top of the header down under fixed navbar */
.hero {
    margin-top: 96px;
}

.section {
    padding-top: 7rem; /* prevent navbar overlap */
}

/* Navbar */
/* Logo Size */
.navbar-brand img {
    height: 70px;
   
}

/* Hero Section */


/* Carousel Size */


.carousel-inner {
    max-height: 800px;
}

.hero .btn {
    border: solid 2px white;
}

/* Services Section */
.services .card img {
    max-height: auto;
}

/* About Section */

#about img {
        max-height: 500px;
        border-radius: 10px;
}

#about .card {
    border: none;
    max-width: 500px;
    max-height: 500px;

    
}

/* Contact Form Section */
.hero-success .btn {
    border: solid 2px gray;
}

#hero-success {
    height: 800px;
    width: 100%;
    background: url("../assets/images/hero-success.jpg") no-repeat center center/cover;
    opacity: 0.7;
}
