/* Google Fonts */



/* Global Styles */


/* Pushes the top of the header down under fixed navbar */
.hero, .hero-message{
    margin-top: 96px;
}

.section {
    padding-top: 6rem; /* prevent navbar overlap */
}

/* Navbar */
/* Logo Size */
.navbar-brand img {
    height: 70px;
   
}

/* Hero Section */




.hero .btn {
    border: solid 2px white;
}

/* Services Section */
.services .card img {
    max-height: auto;
}

/* About Section */

#about img {
        max-height: 500px;
        border-radius: 10px;
}

#about .card {
    border: none;
    max-width: 500px;
    max-height: 500px;

    
}

/* Contact Form Section */
.hero-success .btn {
    border: solid 2px gray;
      position: relative;
    bottom:30px;
}

.hero-success {
    height: 900px;
    width: 100%;
    background: url("../images/hero-success.jpg") no-repeat center center/cover;
    position: absolute;
}

.success-message {
    color: white;
}

footer i {
    font-size: 24px;
    color: black;
    
}

footer {
    background-color: #D9D1CE;
}

