/* Google Fonts */



/* Global Styles */
.hero {
    margin-top: 176px;
}

.section {
    padding-top: 4rem; /* prevent navbar overlap */
}

/* Navbar */
/* Logo Size */
.navbar-brand img {
    height: 150px;
    width: auto;
}

/* Hero Section */

/* Pushes the top of the header down under fixed navbar */

/* Carousel Size */
#carouselExampleCaptions {
    max-height: 600px;
}

.carousel-inner {
    max-height: 800px;
}

.hero .btn {
    border: solid 2px white;
}

/* Services Section */
.services .card img {
    max-height: auto;
}

/* About Section */

.rounded-circle {
    border-radius: 0px;
}

#about .card {
    border: none;
    max-width: 300px;
    justify-content: center;
}

